@using Newtonsoft.Json
@using StockSim.Models.Game
@model ViewGamesViewModel

@{ 
   ViewData["Title"] = "View Games";
}

<h2>@ViewData["Title"]</h2>

<h3>Public Games</h3>
<div class="list-group">
   @if (!Model.PublicGames.Any() && !Model.OfficialGames.Any())
   {
      <span class="list-group-item">No games available!</span>
   }
   @foreach (var officialGame in Model.OfficialGames)
   {
      <a href="@Url.Action("ViewGame")?gid=@officialGame.Gid" class="list-group-item list-group-item-success">
         <span class="badge">@officialGame.PlayerCount</span>
         <b>[OFFICIAL]</b> @officialGame.Title
      </a>
   }
   @foreach (var publicGame in Model.PublicGames)
   {
      <a href="@Url.Action("ViewGame")?gid=@publicGame.Gid" class="list-group-item">
         <span class="badge">@publicGame.PlayerCount</span>
         @publicGame.Title
      </a>
   }
</div>

<br />
<br />

<h3>Your Games</h3>
<div class="list-group">
   @if (!Model.UserGames.Any())
   {
      <span class="list-group-item">No games available!</span>
   }
   @foreach (var userGame in Model.UserGames)
   {
      <a href="@Url.Action("ViewGame")?gid=@userGame.Gid" class="list-group-item">
         <span class="badge">@userGame.PlayerCount</span>
         @userGame.Title
      </a>
   }
</div>

<br/>
<br/>

@if (User.Identity.IsAuthenticated)
{
   <form action="@Url.Action("NewGame")">
      <button type="submit" class="btn btn-default">Create New Game</button>
   </form>
}