@using StockSim.Models.Game
@model ViewGameViewModel

@{
   ViewData["Title"] = "View Game - " + Model.Game.Title;
}

<h2>@ViewData["Title"]</h2>

<p>
   <h4>Starting Money: @Model.Game.StartingMoney.ToString("C") - Player Count: @Model.Game.PlayerCount</h4>
</p>

@if(Model.UserCanJoin)
{
   <p>
      <a href="@Url.Action("JoinGame")?gid=@Model.Game.Gid" class="btn btn-default" role="button">Join Game</a>
   </p>
}
else if (User.Identity.IsAuthenticated)
{
   <p>
      <h3>Your Stocks:</h3>
      <div class="list-group">
         @if (!Model.PlayerStocks.Any())
         {
            <span class="list-group-item">You don't own any stocks!</span>
         }
         @foreach(var stock in Model.PlayerStocks)
         {
            <span class="list-group-item">@stock.TickerSymbol<span class="badge">@stock.Count</span></span>
         }
      </div>
      @if (Model.Balance != null)
      {
         <h3>Current Balance: @Model.Balance.Value.ToString("C")</h3>
      }
   </p>
   <br />
   <p>
      <a href="@Url.Action("BuyStock", "Stock")?gid=@Model.Game.Gid" class="btn btn-primary" role="button">Buy Stock</a>
      <a href="@Url.Action("SellStock", "Stock")?gid=@Model.Game.Gid" class="btn btn-primary" role="button">Sell Stock</a>
      <a href="@Url.Action("ViewTransactions", "Transaction")?gid=@Model.Game.Gid" class="btn btn-primary" role="button">View Transactions</a>
      <a href="@Url.Action("ViewLeaderboards")?gid=@Model.Game.Gid" class="btn btn-primary" role="button">View Leaderboards</a>
   </p>
   <p>
      <a href="@Url.Action("LeaveGame")?gid=@Model.Game.Gid" class="btn btn-danger" role="button">Leave Game</a>
   </p>
}