@using StockSim.Models.Stock
@model BuySellStockViewModel

@{ 
   ViewData["Title"] = "Buy Stock - " + Model.GameTitle;
}

<h2>@ViewData["Title"]</h2>

<h3>Current Balance: @Model.Balance.ToString("C")</h3>

<form asp-controller="Stock" asp-action="BuyStock" method="post" class="form-horizontal" role="form">
   <div class="form-group">
      <label asp-for="TickerSymbol" class="col-md-2 control-label"></label>
      <div class="col-md-10">
         <input asp-for="TickerSymbol" class="form-control" id="tickerSymbol"/>
         <span asp-validation-for="TickerSymbol" class="text-danger"></span>
      </div>
   </div>
   <div class="form-group">
      <label asp-for="Count" class="col-md-2 control-label"></label>
      <div class="col-md-10">
         <input asp-for="Count" class="form-control" min="0"/>
         <span asp-validation-for="Count" class="text-danger"></span>
      </div>
   </div>
   <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
         <button type="submit" class="btn btn-default">Submit</button>
      </div>
   </div>
   <input asp-for="Gid" type="hidden" />
</form>

<p>
   <button class="btn btn-default" id="getQuoteBtn">Get Quote</button>
   <a href="@Url.Action("ViewGame", "Game")?gid=@Model.Gid" class="btn btn-default">Return to game</a>
</p>
<div id="quoteDiv" style="display: none">
   <p>
      Cost: <span id="quoteCost"></span> each
   </p>
   <p>
      Note that this cost could change when you submit the buy order
   </p>
</div>
<div id="errorDiv" style="display: none">
   <span id="errorText"></span>
</div>

<p>
   <h3>Your Stocks:</h3>
   <div class="list-group">
      @if (!Model.PlayerStocks.Any())
      {
         <span class="list-group-item">You don't own any stocks!</span>
      }
      @foreach (var stock in Model.PlayerStocks)
      {
         <span class="list-group-item">@stock.TickerSymbol<span class="badge">@stock.Count</span></span>
      }
   </div>
</p>

@section Scripts {
   <script src="~/js/Stock/BuyStock.js"></script>
   <script>
      $(document).ready(function () {
         var page = BuyStock({
            getQuoteUrl: "@Url.Action("GetStockQuoteBySymbol", "StockQuote")?symbol="
         });
         page.init();
      });
   </script>
}